@use 'mixins/mixins.scss' as *;

@include b('tree') {
}

@include b('tree-node') {
  cursor: pointer;
  &:hover {
    background-color: #f5f7fa;
  }

  @include e('content') {
    display: flex;
    align-items: center;
  }

  @include e('expand-icon') {
    color: #a8abb2;
    // transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      color: transparent;
      visibility: hidden;
      cursor: default;
    }
  }

  @include e('loading-icon') {
    margin-left: auto;
    animation: loading-rotate 2s linear infinite;
  }
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
